# `to_list` Function API Reference

The `to_list` function converts various input types into a list. It can handle multiple input types, including primitives, iterables, mappings, and custom objects, with options to flatten nested structures, remove `None` values, and return unique elements.

---

## Function Signature

```python
def to_list(
    input_: Any,
    /,
    *,
    flatten: bool = False,
    dropna: bool = False,
    unique: bool = False,
    use_values: bool = False,
) -> list:
    ...
```

---

## Parameters

- **input_** (`Any`):  
  The input to convert into a list. It can be any type, including primitives, iterables, mappings, strings, bytes, etc.

- **flatten** (`bool`, optional):  
  If `True`, the function will recursively flatten any nested iterables (excluding strings, bytes, bytearrays, and mappings). Default is `False`.

- **dropna** (`bool`, optional):  
  If `True`, the function will remove any `None` values from the resulting list. Default is `False`.

- **unique** (`bool`, optional):  
  If `True`, the function will return a list of unique elements. This option requires `flatten=True`. Default is `False`.

- **use_values** (`bool`, optional):  
  If `True` and the input is a mapping (e.g., a dictionary), the function will use the mapping's values instead of the mapping itself. Default is `False`.

---

## Returns

- **list**:  
  A list derived from the input, processed according to the specified parameters.

---

## Raises

- **ValueError**:  
  Raised if `unique=True` and `flatten=False`, since uniqueness can only be ensured on a flattened list.

---

## Examples

### Example 1: Converting a Primitive Type

In [1]:
from lionfuncs.data_handlers.to_list import to_list

result = to_list(42)
print(result)

[42]

**Explanation:**  
A single primitive value is placed into a list.

---



### Example 2: Converting an Iterable

In [2]:
result = to_list([1, 2, 3])
print(result)

[1, 2, 3]

**Explanation:**  
A list input is returned as is.

---

### Example 3: Flattening Nested Lists

In [3]:
nested_list = [1, [2, [3, 4]], 5]
result = to_list(nested_list, flatten=True)
print(result)

[1, 2, 3, 4, 5]

**Explanation:**  
Nested lists are recursively flattened into a single list.

---

### Example 4: Removing `None` Values

In [4]:
input_list = [1, None, 2, None, 3]
result = to_list(input_list, dropna=True)
print(result)

[1, 2, 3]

**Explanation:**  
`None` values are removed from the list.

---

### Example 5: Combining Flatten and Dropna

In [5]:
complex_list = [1, None, [2, None, [3, None]], 4]
result = to_list(complex_list, flatten=True, dropna=True)
print(result)

[1, 2, 3, 4]

**Explanation:**  
The list is flattened, and `None` values are removed.

---

### Example 6: Ensuring Unique Elements

In [6]:
input_list = [1, [2, 3], [1, 2]]
result = to_list(input_list, flatten=True, unique=True)
print(result)

[1, 2, 3]

**Explanation:**  
After flattening, duplicate elements are removed.

---

### Example 7: Using `use_values` with a Mapping

In [7]:
input_dict = {'a': 1, 'b': 2}
result = to_list(input_dict, use_values=True)
print(result)

[1, 2]

**Explanation:**  
The values of the dictionary are extracted into a list.

---


### Example 8: Handling Custom Iterables

In [8]:
class CustomIterable:
    def __iter__(self):
        return iter([10, 20, 30])

custom_obj = CustomIterable()
result = to_list(custom_obj)
print(result)

[10, 20, 30]

**Explanation:**  
Custom iterable objects are converted to lists by iterating over them.

---

### Example 9: Converting a String

In [9]:
result = to_list("hello")
print(result)

['hello']


**Explanation:**  
Strings are considered as single elements unless `use_values` is `True`.

---


### Example 10: Using `use_values` with a String

In [10]:
result = to_list("hello", use_values=True)
print(result)

['h', 'e', 'l', 'l', 'o']

**Explanation:**  
When `use_values` is `True`, the string is treated as an iterable of characters.

---



## Notes

- **Handling of Iterables:**  
  The function treats any object that implements the `Iterable` interface (excluding strings, bytes, bytearrays, and mappings unless `use_values` is `True`) as a sequence to be converted into a list.

- **Flattening Behavior:**  
  When `flatten=True`, the function recursively flattens nested iterables. Strings, bytes, bytearrays, and mappings are not flattened to avoid breaking them into individual characters or key-value pairs.

- **Drop `None` Values:**  
  When `dropna=True`, any `None` values encountered in the input (including within nested structures when flattening) are omitted from the output list.

- **Uniqueness Constraint:**  
  Setting `unique=True` removes duplicate elements from the list. This requires flattening to ensure that all elements are at the same level for comparison.

- **Use Values in Mappings:**  
  When `use_values=True` and the input is a mapping (e.g., a dictionary), the function uses the mapping's values instead of the mapping itself.

- **Custom Objects:**  
  If the input object is not iterable or does not fall into the other special cases, it is placed into a list as a single element.

---

## Exceptions

- **ValueError:**  
  Raised when `unique=True` is specified without setting `flatten=True`, as uniqueness can only be ensured on a flat list.

---

## Conclusion

The `to_list` function is a versatile utility for converting various data types into a list, with options to control the structure and contents of the resulting list. It simplifies data handling by providing flexible parameters to flatten nested structures, remove `None` values, and ensure uniqueness.

---